#care {
  background: rgb(131, 58, 180);
  background: linear-gradient(227deg, rgba(131, 58, 180, 1) 0%, rgba(96, 253, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}


h1 {
  color: rgb(249, 247, 250);
  text-align: center;
  font-size: 3rem;
}

.bright {
  position: relative;
  animation: lets-bright 2s linear infinite;
}

@keyframes lets-bright {
  0%, 100% {
    color: white;
    text-shadow: 0 0 4px white;
  }

  50% {
    color: #f3edd1;
    text-shadow: none;
  }
}

p {
  text-align: center;
  margin-top: 13%;
  font-size: 3rem;
}

.rainbow {
  display: flow-root;
  background: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 200% 200%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: animar-rainbow 5s linear infinite;
}

@keyframes animar-rainbow {
  0% {
    background-position: 200% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto 120px 120px 130px 130px 110px 100px 130px 130px;
  grid-template-rows: 230px 230px 230px 200px;
  padding: 3%;
  margin-left: 15%;
}

.item1 {
  grid-column: 1 / 5;
  background-color: rgba(248, 252, 240, 0.772);
  border: 1.5px solid black;
  width: 37vw;
  height: 34.8vh;
}

.one {
  width: 37vw;
  height: 36vh;
  margin-left: 7%;
}

.item2 {
  grid-column: 5 / 10;
}

.item3 {
  grid-column: 1 / 3;
}

.item4 {
  grid-column: 3 / 4;
}

.item5 {
  grid-column: 4 / 8;
}

.five {
  background-color: rgba(248, 252, 240, 0.772);
  border: 1.5px solid black;
  width: 30vw;
  height: 77vh;
  margin-left: 15%;
  margin-right: 10%;
}

.item6 {
  grid-column: 8/ 10;
}

.item7 {
  grid-column: 1 / 5;
}

.seven {
  width: 30vw;
  height: 36vh;
  border: 1.5px solid black;
}

.item8 {
  grid-column: 8 / 10;
}

.item9 {
  grid-column: 1 / 3;
}

.item10 {
  grid-column: 3 / 4;
}

.item11 {
  grid-column: 4 / 10;
}

.eleven {
  width: 44.3vw;
  height: 35vh;
  ;
  margin-left: 10%;
}